# env
.env

# databases
idcard_db.json
menfess_db.json

# node
node_modules/

# logs
*.log

.env
*_db.json
afk_db.json
menfess_db.json
sorting_db.json
idcard_db.json
node_modules

data/
*.db
*.db-wal
*.db-shm

*_db.json